.class{
    // border: 1px solid #000;
    .title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .t1 {
            margin-top: 20px;
            margin-left: 180px;
            font-size: 13px;
            font-weight: 700;
        }
        .t2 {
            margin-top: 20px;
            font-size: 10px;
            margin-right: 10px;
            text-decoration: underline;
        }
    }   
.classs {
    width: 100%;
    height: 100px;
    // background: blue;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    
    div {

        margin-right: 60px;
        border-radius: 15px;
        width: 150px;
        height: 100px;
        background: green;
        border: 1px solid #000;
        overflow: hidden;
        img {
            width:100%;
            height:100%;
            object-fit: cover;
        }
    }
}


}
