
header {
    width: 100%;
    height: 70px;
    border-bottom: 1px solid #bbbbbb;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background: #fff;
    font-family: 'Orbit', sans-serif;

    *{
        font-family: 'Orbit', sans-serif !important;
    }

    .header1 {
        display: flex;
        justify-content: space-between;

        .hdleft {
            display: flex;
            // margin: 5px 10px;
            
            
            img {
                margin-left: 20px;
                margin-top: 16px;
                width: 120px;
            }

            ul {
                display: flex;
                // margin-top: 20px;
                // border: 1px solid #000;
                li {
                    //    margin-right: 50px;
                    // border: 1px solid #000;  
                    padding: 22px  30px;
                    display: block;
                    font-weight: 700;
                
                    &:hover, &:active {
                       border-bottom: 2px solid #123282;
                       color: #0b39af;
                    }

                }
                    

                }
        }

      
        
        .hdright {
            display: flex;
            justify-content: space-between;
            line-height: 70px;
            margin-right: 20px;

            *{
                margin-right: 10px;
            }

            .my-profile{
                width: 40px;
                height: 40px;
                background: #fff;
                border-radius: 50%;
                // border: 1px solid #000;
                // margin: 15px 20px 20px 0;
            }

            .userLogin{
                font-weight: 700;      
            }

            .ownerGo {
            :link {
                font-size: 15px;
                font-weight: 500;
                font-family: 'Gowun Batang', serif;

                &:hover {
                    font-weight: 600;
                }
            }
        }

        }
    }
    


}