.inbox {
    margin-top: 30px;
    border: 1px solid #000;
    width: 70%;
    margin-left: 270px;
    height: 90px;
    .initembox {
        display: flex;
        justify-content: space-around;
        margin-top: 10px;
        font-weight: 700;
    }
    .inbtnbox {
        width: 100%;
        margin-top: 10px;
        // margin: 0 auto;
        display: flex;
        justify-content: center;
        font-weight: 700;

        .indetailbtn {
            width: 85%;
            background: #123282;
            border: 1px solid #123282;
        }
    }
}