.inbox {
    margin-top: 30px;
    border-top: 1px solid #2349af;
    border-bottom: 1px solid #2349af;
    width: 70%;
    margin-left: 270px;
    height: 90px;

    .initembox {
        display: flex;
        justify-content: space-between;
        margin: 10px;
        font-weight: 700;
    }
    .inbtnbox {
        width: 100%;
        margin-top: 10px;
        // margin: 0 auto;
        display: flex;
        justify-content: center;
        font-weight: 700;
    }
    
    .detail-btn {
        width: 40%;
        margin: 10px;
        padding: 2px;
        background: #123282;
        border: none;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: #abc2db;
        }
    }
}
.page {
    margin-left: 138px;
}