.rvlistbox {
    border: 1px solid #000;
    width: 70%;
    margin-left: 270px;
    margin-top: 30px;
    height: 190px;
    .rvliststatus{
        display: flex;
        font-weight: 700;
        margin-left: 10px;
        font-size: 20px;
    }

    .rvitembox {
        // border: 1px solid #000;
        display: flex;
        align-items: center;
        height: 65%;
        .potobox {
        margin-left: 10px;
            width: 100px;
            height: 80px;

           &.potobox img {
            width: 100px;
            height: 80px;
            }
        }
        
        .minibox {
            margin-left: 20px;
            text-align: left;
        }
    }
    .rvlistbtnbox {
        
        margin-bottom: 10px;
        .relist{
            width: 85%;
            background: #123282;
            border: 1px solid #123282;
        }

        .norelist{
            width: 85%;
            background: rgb(187, 187, 187);
            border: 1px solid rgb(187, 187, 187);
            cursor: no-drop;
        }
    }

}