
.MyPageMainBox{
    width: 1136px;
    min-width: 1136px;
    margin: 0 auto;
    display: flex;
    // border: 1px solid #000;
    justify-content: space-around;

.mainbox-Rvlist {
    width: 80%;
    h3 {
        width: fit-content;
        font-size: 25px;
        padding: 5px;
        font-weight: 700;
        border-bottom: 3px solid #123282;
    }
.rvlistbox {
    width: 80%;
    border: 1px solid #c5c5c5;
    border-radius: 15px;
    width: 70%;
    margin-left: 270px;
    margin-top: 30px;
    height: 190px;

    .rvlistwrap {
        display: flex;
        justify-content: space-between;
       
        .regi-cancel{
            border: 1px solid #123282;
            border-radius: 15px;
            margin-right: 25px;
            color: #123282;
            width: 120px;
            height: 30px;
            margin-top: 10px;

            &:hover {
                background: #9b2b2b;
                border: none;
                color: #fff;
            }
        }

    }
    .rvliststatus{
        display: flex;
        font-weight: 700;
        margin: 5px 10px;
        font-size: 20px;
        .cancel-btn {
            margin-top: 10px;
        }
    }

    .rvitembox {
        display: flex;
        align-items: center;
        .potobox {
            margin-left: 10px;
            width: 100px;
            height: 80px;

           &.potobox img {
            width: 100px;
            height: 80px;
            border: none;
            }
        }
        
        .minibox {
            margin-left: 20px;
            text-align: left;
            div{
                font-family:'Gowun Batang', serif;
            }
        }
    }
    .rvlistbtnbox-wrap {
        display: flex;
        justify-content: end;

        .rvlistbtnbox {
            width: 300px;
            margin-top: 10px;
    
            .relist{
                width: 85%;
                background: #123282;
                border: 1px solid #123282;
                color: #fff;
            }
    
            .norelist{
                width: 85%;
                background: rgb(155, 155, 155);
                border: 1px solid rgb(187, 187, 187);
                cursor: no-drop;
                color: #fff;
            }
        }

        button {
            border-radius: 15px;
        }
    }
    

}
}
}