.mainbox1 {
    // border: 1px solid #000;

    .itembox {
        // border: 1px solid #000;
        text-align: center;
        align-items: center;

        
    }
    .a1 {
        display: flex;
        margin-top: 20px;
        margin-bottom: 20px;
         justify-content: center;
         height: 50px;
         input {
             margin-left: 10px;
             width: 430px;
            }
        }
        .title {
            font-weight: 700;
            color: white;
            background:#123282;
            // align-items: center;
            width: 120px;
            display: flex;
            justify-content: center;
            align-items: center;
          
    }
    button {
        margin-right: 30px;
        // margin-left: -8px;
        width: 120px;
        border-radius: 15px;
        color: white;
    }
.btnbox{
    display: flex;
    justify-content: center;
    text-align: center;
    // align-items: center;
    .rb {
        background: #828282;
        border: 1px solid #828282;
        // height: 100%;
        font-size: 16px;
    }
    .update {
        background: #123282;
        border: 1px solid #123282;
        margin-left: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        // text-align: center;
        .btn11 {
            margin-left: 30px;
            font-size: 16px;
        }
    }
}
}
.lk {
    text-decoration: none;
    color: white;
}