.MyPageBox {
    width: 80%;
    margin: 0 auto;
    display: flex;
    // border: 1px solid #000;
    justify-content: space-around;

    .box1 {
        // border: 1px solid #000;
        // background: orange;
        width: 80%;

        h1 {
            width: fit-content;
            font-size: 25px;
            padding: 5px;
            font-weight: 700;
            border-bottom: 3px solid #123282;
        }

        .userbox {
            // border-right: 1px solid #000;
            margin-top: 20px;
            display: flex;
            flex-direction: column;

            .name {
                border-bottom: 1px solid #123282;
                border-top: 1px solid #123282;
                display: flex;
                align-items: center;
                
                .title {
                    height: 70px;
                    display: flex;
                    justify-content: center;
                    align-items: center;                        
                }
                
            }
            
            input {
                margin-left: 10px;
                height: 40px;
                // border: 1px solid #8f8f8f;
            }
            .email {
                border-bottom: 1px solid #123282;
                display: flex;
                align-items: center;

                .em {
                    margin-left: 10px;
                }
                .title {
                    height: 70px;
                    display: flex;
                    justify-content: center;
                    align-items: center;                        
                }

            }
            .phoneNum {
                border-bottom: 1px solid #123282;
                display: flex;
                align-items: center;

                .ph {
                    margin-left: 10px;
                }
                .title {
                    height: 70px;
                    display: flex;
                    justify-content: center;
                    align-items: center;                        
                }

            }
            .addr {
                border-bottom: 1px solid #123282;
                display: flex;
                align-items: center;

                .title {
                    height: 150px;
                    display: flex;
                    justify-content: center;
                    align-items: center;                        
                }
            }
            .profile {
                border-bottom: 1px solid #123282;
                display: flex;
                align-items: center;

                
                input {
                    margin-left: 10px;
                }
                .title {
                    height: 70px;
                    display: flex;
                    justify-content: center;
                    align-items: center;                        
                }

                .custom-input-button {
                    margin: 10px;
                    display: inline-block;
                    padding: 8px 16px;
                    background-color: #bacdfd;
                    color: #333;
                    border: none;
                    border-radius: 4px;
                    cursor: pointer;
                    transition: background-color 0.3s ease;
                  }
                  
                  .custom-input-button:hover {
                    background-color: #d9e1e9;
                  }
                  
                  .custom-input-button input[type="file"] {
                    display: none;
                  }
            }

            //공통
            .title {
                font-weight: 700;
                width: 15%;
                background: #123282;
                color: white;
            }
            .btn1 {
                margin-left: 10px;
            }

            

        }

    }

    .updatebtn1 {
        // border: 1px solid #000;
        margin-top: 20px;
        .updatebtn11 {
            width: 90px;
            border-radius: 15px;
            color: white;
            background: #123282;
            border: 1px solid #123282;
        }
    }
 


}

.list {
    width: 11%;
    background: #123282;
    padding: 10px;
    border-radius: 0px 15px 15px 0px;
    height: fit-content;

    list-style-type: none;
    color: white;

    padding-bottom: 80px;
    position: relative;
    top: -70px;

    li {
        margin-top: 10px;
        text-align: left;
    }

    .my {
        margin-bottom: 60px;
    }

}
