.mainbox1 {
    // border: 1px solid #000;

    .itembox {
        // border: 1px solid #000;
        text-align: center;
        align-items: center;

        
    }
    .a1 {
        display: flex;
        margin-top: 20px;
        margin-bottom: 20px;
         justify-content: center;
         height: 50px;
         input {
             margin-left: 10px;
             width: 430px;
            }
        }
        .title {
            font-weight: 700;
            color: white;
            background:#123282;
            // align-items: center;
            width: 120px;
            display: flex;
            justify-content: center;
            align-items: center;
          
    }
    button {
        margin-right: 20px;
        width: 120px;
        border-radius: 15px;
        color: white;
    }

    .rb {
        background: #828282;
        border: 1px solid #828282;
    }
    .update {
        background: #123282;
        border: 1px solid #123282;
    }
}