

* {
    box-sizing: border-box;
    font-family: 'Noto Sans', 'Source Sans Pro';
    list-style: none;
}

body {
    background-color: #ffffff;
}

.container {
    width: 1136px;
    min-width: 700px;
    margin: 50px auto;
}

span[id] {
    display: block;
    padding: 5px 0 0 10px;
}

/* 회원가입 상단부 */
.sign-up-header {
    padding: 30px 0;
    text-align: center;
    background: #ffffff;
}

.header {
    align-items: center;
    background-color: #123282;
    border-radius:25px;
    box-sizing:border-box;
    color:#ffffff;
    display:flex;
    font-size:16px;
    font-weight:500;
    height:50px;
    width: 100px;
    margin: 0 auto;
    justify-content:center;
    margin-bottom:20px;
    white-space:nowrap;
}


.head1 {
    font-size: 2.2em;
    font-weight: 600;
    /* color: #1c5800; */
    color: #030303;
    margin-bottom: 30px;
}

.head2 {
    font-size: 24px;
    font-weight: 500;
    
}
.head2 span{
    font-weight: 700;
}

#SignUpImg {
    width: 80px;
    height: 80px;
}
/* 프로필사진 */
.profile {
    margin-bottom: 70px;
    text-align: center;
}
.profile label {
    font-weight: 700;
    font-size: 1em;
    cursor: pointer;
    color: rgb(108, 121, 126);
}
.profile .thumbnail-box {
    width: 100px;
    height: 100px;
    border: 1px solid #c9c9c9;
    border-radius: 50%;
    overflow: hidden;
    margin: 30px auto 10px;
    cursor: pointer;

}

.profile .thumbnail-box img {
    width: 100px;
    height: 100px;

}


/* 회원가입 중앙부 */
.sign-up-body {
    padding: 50px 0;
    background-color: #f2f4f8;
    border-radius: 15px;
}
.sign-up-body .sign-up-input {
    width: 700px;
    padding: 0;
    margin: 0 auto;

    .chkSpan {
        font-size: 12px;
        color: #334f96;
        width: 380px;
        display: block;
        text-align: left;
    }
}

.sign-up-body .sign-up-input ul {
    /* border: 1px solid #000; */
    padding: 0;
    width: 470px;
    margin: 0 auto;
    padding: 50px auto;
}

.sign-up-body .sign-up-input li {
    display: flex;
    align-items: baseline;
    margin-bottom: 40px;
    margin-left: 110px;
}

.sign-up-body .sign-up-input li div {
    font-size: 15px;
    width: 150px;
}


.sign-up-body .sign-up-input li .form-control {
    width: 380px;
    height: 40px;
    padding-left: 10px;
    background: #fff;
    border: 1px solid #d9d9de;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.postSee {
    font-size: 12px;
    color: #858585 ;
 
}

.postSearch {
    border: 1px solid #123282;
    background-color: #fff;
    color: #123282;
    width: 50px;
    height: 35px;
    font-size: 12px;
    text-align: center;
    border-radius: 3px;
    font-weight: 700;
    line-height: 35px;
    cursor: pointer;
}

/* 회원가입 하단부 */
.sign-up-btn {
    /* border: 1px solid #000; */
    padding: 30px 0;
    margin-bottom: 30px;
}

.sign-up-btn .btn {
    background:#123282;
    margin: auto;

    width: 300px;
    height: 40px;
    border-style: none;
    border-radius: 5px;

    font-size: 1em;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
}

/* 기타 */

