.allview {
  padding: 20px;
  width: 90%;
  height: 100%;
  margin: 0 auto;

  .imgbox {
    display: flex;
    // justify-content: space-between;
    border: 1px solid #000;
    width: 100%;
    height: 400px;
    .image-box {
      // flex-basis: calc(33.33% - 10px);
      // overflow: hidden;
      .imgboxmian1 {
        width: 100%;
        height: 100%;
      }
    }
  }
  
  // All content box
  .allContentbox {
    //   border: 1px solid #000;
    display: flex;
    margin-top: 30px;

    .left {
      width: 100%;

      .title {
        text-align: left;

        h1 {
          font-size: 20px;
          font-weight: 700;
        }
      }

      .minititle {
        border-top: 1px solid #000;
        text-align: left;
      }

      .text1 {
        border-top: 1px solid #dddddd;
        text-align: left;
        font-size: 12px;

        p {
          color: red;
          text-align: center;
        }

        .t1 {
          font-weight: 700;
        }

        mark {
          color: #fff;
          background: #132282;
        }
      }

      .d1box {
        margin-top: 30px;
        border-top: 1px solid #dddddd;

        .d1 {
          margin-top: 15px;
          width: 212px;
          text-align: center;
          color: #fff;
          background: #132282;
        }
      }

      .textboxs {
        margin-top: 20px;
        border: 1px solid #dddddd;

        .rvtext {
          display: flex;
          h2 {
            margin-top: 22px;
          }
          border-bottom: 1px solid #dddddd;

          .rv_t1 {
            font-size: 12px;
            text-align: left;
            margin: 5px 5px;
          }
        }

        .paytext {
          display: flex;
          .tl2 {
            width: 22%;
            h2 {
              margin-top: 100px;
            }
          }
          .pay_t1 {
            font-size: 12px;
            width: fit-content;
            text-align: left;
            margin: 5px 5px;

            mark {
              color: #fff;
              background: red;
              text-align: left;
            }

            p {
              font-size: 9px;
            }
          }
        }

        .dgtext {
          display: flex;
          border: 1px solid #dddddd;
          h2 {
            margin-top: 50px;
          }
          .dg_t1 {
            font-size: 12px;
            text-align: left;
          }
        }

        .mt {
          width: 22%;
          font-weight: 700;
          background: #d4e7e7;
          h2 {
            font-size: 16px;
            font-weight: 700;
          }
        }
      }
    }

    .right {
      margin-left: 3%;
      width: 30%;

      .group1 {
        width: 100%;
        height: 50px;
        div {
          margin-top: 10px;
          text-align: center;
          font-size: 16px;
          font-weight: 700;
        }
        b {
          color: red;
          text-decoration: underline;
        }
        border: 2px solid #dddddd;
        border-radius: 10px;
      }

      .clbox {
        width: 100%;
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
        }
      }

      .profilebox {
        padding: 10px;
        margin-top: 10px;
        width: 100%;
        border-radius: 10px;
        border: 2px solid #dddddd;

        .proCircle {
          margin-top: 10px;
          margin: 0 auto;
          background: #dddddd;
          width: 4.5em;
          height: 4.5em;
          border-radius: 2.5rem;
        }

        .pr1 {
          font-weight: 700;
          margin-top: 5px;
          border-bottom: 5px;
        }

        button {
          width: 90%;
          height: 50px;
          border-radius: 10px;
          background: #000;
          color: #fff;
        }
      }
    }
  }
}
