@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&family=Noto+Sans+KR:wght@400;500;700&family=Noto+Serif+KR:wght@400;500;600&family=Orbit&display=swap');

.rv-detail-wrap {

    h2 {
        font-family: 'Orbit', sans-serif;
        text-align-last: left;
        font-size: 24px;
        font-weight: 700;
        color: rgb(0, 6, 56);
    }

    div, p {
        text-align-last: left;
        font-size: 18px;
    }

}