.shipsection {
  display: flex;
  .ShipcontentCard {
    // width: 30%;
    height: 250px;
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 15px;

    .imgbox {
      width: 100%;
      height: 100%;
      overflow: hidden;
      border-radius: 15px 15px 0px 0px;

      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        border-radius: 15px;
      }
    }

    .cardTitle {
      font-weight: 700;
      font-size: 13px;
      float: left;
    }

    .miniTitle {
      font-size: 11px;
      float: left;
      color: #5f5f5f;
    }

    .miniContent {
      font-size: 13px;
      float: left;
    }

    .calendar {
    //   width: fit-content;
    //   height: fit-content;
    //   font-size: 13px;
    //   float: left;
    //   color: #3974d9;
    //   // border: 1px solid #000;
    //   text-align: left;
    width: fit-content;
    height: fit-content;
    font-size: 13px;
    float: left;
    color: #3974d9;
    clear: left; /* 추가 */
    /* border: 1px solid #000; */
    text-align: left;
    }
  }
}
