.rvMain {
    width: 95%;
    // border: 1px solid #000;
    margin: 0 auto;
    height: 800px;
    margin-top: 30px;

    display: flex;
    justify-content: space-between;
    .rvContent {
        width: 79%;
        // height: 800px;
        // background: rebeccapurple;
        // display: flex;
        // justify-content: space-around;


        .x1 {
            font-size: 7px;
            color: #DDDDDD;
            display: flex;
            justify-content: space-between;
            margin-top: 5px;
            margin-left: 5px;
            margin-right: 5px;
        }

        .cardBox {
            display: flex;
            justify-content: space-around;

           


        }



    }

    .rvApibox {
        width: 20%;
        height: 800px;
        // background: green;
        div {
            font-weight: 700;
        }
        .mapbox {
            
            margin-top: 50px;

            width: 100%;
            height: 50%;
            overflow: hidden;
            border-radius: 10px;
        }

  
    }

}