
.rdrDefinedRangesWrapper {
  display: none;
}
  
.button {
  display: inline-block;
  background-color: #61dafb;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.button:hover {
  // background-color: #1d7186;
}

.button:active {
  background-color: #1e9ab5;
}
.rdrDateDisplayWrapper {
  display: flex;
  align-items: center;
}

.rdrDateDisplay {
  display: flex;
  align-items: center;
  background-color: #f7f7f7;
  padding: 8px;
  border-radius: 4px;
}

.rdrDateInput {
  display: flex;
  align-items: center;
  margin-right: 8px;
}

.rdrDateDisplayItem {
  color: #dab6b6;
  padding: 4px;
  border-radius: 4px;
  transition: background-color 0.2s ease;
}

.rdrDateDisplayItemActive {
  width: 40px;
  background-color: rgb(164, 181, 202);
  color: #fff;
}

