.modal-overlay {
    position: fixed;
    // top: 160px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* 배경 어둡게 설정 */
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-box {
    position: relative;
    top: 100px;
    background-color: white;
    border-radius: 10px 0px 10px 10px;
    width: 550px;
    height: 700px;
    padding: 20px;
  }

 
  .calendar {
    margin: 0 auto;
    width: 98%;
    height: 400px;
}

.result * {
  margin: 10px;
}

  .modal-box .close-btn {
    width: 30px;
    height: 30px;
    font-size: 20px; 
    color: #fff;
    background: pink;
    border: 1px solid #ffffff;
    border-radius: 50%;
    position: absolute;
    top: -10px;
    right: -10px;
    margin-bottom: 10px;
    cursor: pointer;
  }