
.MyHostMainBox {
    width: 1136px;
    min-width: 1136px;
    margin: 0 auto;
    display: flex;
    // border: 1px solid #000;
    justify-content: space-around;

    .mainbox1{
        width: 80%;
            .mychoicebox {
                display: flex;
                // margin-top: 20px;
                // justify-content: space-evenly;
            
                h1 {
                    width: fit-content;
                    font-size: 25px;
                    padding: 5px;
                    font-weight: 700;
                    border-bottom: 3px solid #123282;
                }
            }

        .user-search-box {
            width: 100%;
            margin: 20px 0 0 20px;
            display: flex;
            justify-content: start;
            height: 300px;
            border-bottom: 1px solid #DDDDDD;

            }

            .btbox {
                position: relative;
                bottom: -200px;
                margin-right: 20px;
            //    background: #123282;
               .isbtn {
                margin-right: 20px;
               }
               button {
                background: #123282;
                color: white;
                font-weight: 700;
               border-radius: 10px;
               border: #123282;
                
               }
            }
        }

        .user-info-box {
            width: 30%;
            // border: 1px solid #000;

            .user-info-page {
                border: 1px solid #000;
                margin-left: 20px;
                display: flex;
                // justify-content: center;
                

                div{
                    margin: 10px;
                }

                .profile {
                    width: 50px;
                    height: 50px;
                    background: #000;
                    border-radius: 50%;
                }
             }

             .user-content-page {
                p {
                    margin: 15px;
                    text-align: left;
                    
                    &:first-child {
                        font-weight: 600;
                        font-size: 1.2em;
                    }
                }
             }
        }

        .rvbox {
            margin-top: 10px;            
            height: 300px;
            text-align: left;
            border-bottom: 1px solid #DDDDDD;
            h2 {
                font-weight: 700;
            }
        }
        .rvbox2 {
            height: 300px;
            margin-top: 10px;
            // float: left;
            text-align: left;
            display: flex;
            justify-content: space-between;

            h2 {
                font-weight: 700;
            }

            .isbtn {
                height: fit-content;
                width: 150px;
                background: #123282;
                color: white;
                font-weight: 700;
               border-radius: 10px;
               border: #123282;
               }


        }
    }

    .list {
        width: 11%;
        background: #123282;
        padding: 10px;
        border-radius: 0px 15px 15px 0px;
        height: fit-content;

        list-style-type: none;
        color: white;

        padding-bottom: 80px;
        position: relative;
        top: -70px;
        li {
            margin-top: 10px;
            text-align: left;
        }
        .my {
            margin-bottom: 60px;
        }

    }
